  <!--  引入bootstrap4-->
  {% load bootstrap4 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
<div id="logo"><a href="/"></a></div>
<nav class="topnav" id="topnav">
    <a href="{% url 'index'%}"><span>首页</span><span class="en">Protal</span></a>
    <a href="{% url 'about' %}"><span>关于我</span><span class="en">About</span></a>
    <a href="{% url 'newlist'%}"><span>慢生活</span><span class="en">Life</span></a>
    <a href="{% url 'moodlist'%}"><span>碎言碎语</span><span class="en">Doing</span></a>
    <a href="{% url 'share'%}"><span>模板分享</span><span class="en">Share</span></a>
    <a href="https://hub.docker.com/u/tianjin"><span>Docker</span><span class="en">Docker hub</span></a>
    <a href="https://github.com/TianJin85"><span>GitHub</span><span class="en">GitHub</span></a>
</nav>